{:paths ["src" "classes" "resources"]
 :deps
 {;; Our programming language itself is just a Java library
  org.clojure/clojure {:mvn/version "1.12.0"}
  ;; Embedded Jetty server and HTTP adapter
  ring/ring-jetty-adapter {:mvn/version "1.13.0"}
  ;; Core HTTP utilities
  ring/ring-core {:mvn/version "1.13.0"}
  ;; JDBC database adapter
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.939"}
  ;; SQLite JDBC driver
  org.xerial/sqlite-jdbc {:mvn/version "3.46.1.0"}

  ;; Hiccup for HTML as Clojure data, server-rendered
  hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
 :aliases
 {:cider {;; clj -M:dev:cider
          :extra-deps {cider/cider-nrepl {:mvn/version "0.51.1"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.10.0"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware"
                      "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"
                      "--interactive"]}
  :dev {:extra-paths ["dev"]
        :extra-deps {clj-http/clj-http {:mvn/version "3.12.3"}
                     dev.weavejester/cljfmt {:mvn/version "0.13.0"}
                     djblue/portal {:mvn/version "0.58.2"}
                     org.clojure/tools.deps {:mvn/version "0.21.1467"}}}
  :test {;; clj -X:dev:test # at the command line
         :extra-paths ["test"]
         :extra-deps
         {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  :build {:replace-deps {io.github.clojure/tools.build
                         {:mvn/version "0.9.6"}}
          :ns-default build}}}
